<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>My Playground.playgroundpage</string>
		<string>6569D391-D78D-469F-BC6C-4EB521E5B96A.playgroundpage</string>
		<string>353E0AE2-C33A-4D58-8511-1FDD23276FFA.playgroundpage</string>
		<string>C52E6548-55E8-45FE-A72D-17AAD9940DBF.playgroundpage</string>
	</array>
</dict>
</plist>
